{{> top}}

{{# comment}}
	<form action="/posts/{{post_id}}/comments/{{comment_id}}" method="post">
		<label>Body:</label>
		<textarea type="text" name="body" rows="10" cols="100">{{body}}</textarea>

		<br>

		<input type="submit" value="save">
	</form>

	<form action="/posts/{{post_id}}/comments/{{comment_id}}/delete" method="post">
		<input type="submit" value="delete">
	</form>
{{/ comment}}

{{> bottom}}
