{{> top}}

<h1>It's a blog!</h1>

<a href="signup">sign up</a><br>
<a href="login">log in</a><br>
<a href="users">users</a><br>
<a href="posts/new">make a new post</a><br>

{{#posts}}
{{> post}}
{{/posts}}

{{> bottom}}
