{{> top}}

<form action="/login" method="post">
	<label>User Name:</label>
	<input type="text" name="username">

	<br>

	<label>Password:</label>
	<input type="password" name="password">

	<input type="submit" value="login">
</form>

{{> bottom}}
