{{> top}}

<form action="/signup" method="post">
	<label>User Name:</label>
	<input type="text" name="username">

	<br>

	<label>Password:</label>
	<input type="password" name="password">

	<br>

	<label>Confirm Password:</label>
	<input type="password" name="password_confirm">

	<input type="submit" value="create user">
</form>

{{> bottom}}
