#[link(name = "mre",
       vers = "0.1pre",
       uuid = "b85803ee-819d-4b9d-adcd-ed8e356ceee3")];
#[crate_type = "lib"];

extern mod std;
extern mod mongrel2;
extern mod mustache;
extern mod pcre;
extern mod zmq;
extern mod crypto;
extern mod elasticsearch;

pub mod auth;
pub mod cookie;
pub mod middleware;
pub mod model;
pub mod request;
pub mod response;
pub mod router;
pub mod session;
pub mod user;

use dvec::DVec;
use io::{ReaderUtil, WriterUtil};
use to_bytes::ToBytes;

use std::time;
use std::time::Tm;
use std::map::HashMap;
use std::json;
use std::json::{Json, ToJson};
use std::base64::{ToBase64, FromBase64};

use zmq::Error;
