#[link(name = "mre",
       vers = "0.1pre",
       uuid = "b85803ee-819d-4b9d-adcd-ed8e356ceee3")];
#[crate_type = "lib"];

use std;
use mongrel2;
use mustache;
use pcre;
use zmq;
use crypto;
use elasticsearch;

mod auth;
mod base64;
mod cookie;
mod middleware;
mod model;
mod request;
mod response;
mod router;
mod session;
mod user;

import io::{reader, reader_util, writer, writer_util};
import result::{result, ok, err};

import std::map::{hashmap, str_hash};
import std::json;
import std::json::json;
