extern mod std;
extern mod zmq;
extern mod mre;
extern mod elasticsearch;
extern mod mustache;

// Import some common things into the global namespace.
use std::map::hash_from_vec;
use std::net::url;

use elasticsearch::{
    SearchBuilder,
    JsonObjectBuilder,
    JsonListBuilder};
use mustache::ToMustache;

mod person;
